.about{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 40px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.left{
  width: 60%;
}
.left p{
    padding-top: 20px;
    padding-bottom: 18px;
    font-size: 16px;
    color: #ABB2BF;
}
.right{
    width: 40%;
    display: flex;
    justify-content: end;
}
.right img{
  width: 350px;
}
.about button{
    padding: 8px 16px;
    border: 1px solid #C778DD;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 0 10px #C778DD
}
.about button:hover{
    color: white;
    transform: translateY(-3px);
    background-color: #C778DD33;
}

@media (max-width: 768px) {
    .about {
        padding: 20px; 
        text-align: center;
    }
  
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left {
      width: 100%;
    }
    .right{
      padding-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .left p {
      font-size: 15px;
      line-height: 26px;
      text-align: center;
      padding: 10px 0;
    }
  
    .about button {
      font-size: 14px;
      padding: 10px 16px;
      margin-top: 15px;
    }
    .right img{
      width: 300px;
    }
  }
  