
#skills{
    padding: 10px;
}
#disc{
    padding-left: 10px;
}
#livebtn{
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#livebtn button{
    padding: 2px 4px;
}
@media (max-width: 768px) {
    #skills {
      padding: 5px;
      text-align: center;
    }
  
    #disc {
      padding: 10px;
      text-align: center;
    }
  
    #livebtn {
      font-size: 16px;
      padding: 8px 0;
      text-align: center;
    }
  
    #livebtn button {
      padding: 6px 12px;
      width: 100%;
    }
  }
  