#boxes{
  box-shadow: 0 0 5px black;
}
#boxes img{
width: 100%;
overflow: hidden;
border-radius: 8px;
height: 200px;      
object-fit: cover;  
border-radius: 8px;
}
#skills{
    padding: 10px;
}
#disc{
    padding-left: 10px;
}
#livebtn{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#livebtn a{
    padding: 2px 4px;
    box-shadow: 0 0 5px #C778DD;
}
#livebtn a:hover{
    font-weight: 400;
    transform: scale(1.05);
    transition:  transform 0.5s;
    color: white; 
    cursor: pointer;

}
.imgss img{
width: 100%;
height: fit-content;
}
@media (max-width: 768px) {
    #skills {
      padding: 5px;
      text-align: center;
    }
  
    #disc {
      padding: 10px;
      text-align: center;
    }
  
    #livebtn {
      font-size: 16px;
      padding: 8px 0;
      text-align: center;
    }
  
    #livebtn button {
      padding: 6px 12px;
      width: 100%;
    }
    #boxes img{
      width: 100%;
      height: 40%;
    }
  }
  