#projects{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#cards{
    padding-top: 40px;
}
#view:hover{
    font-weight: 400;
    transform: scale(1.1);
    transition:  transform 0.5s;
    color: white;
}
@media (max-width: 768px) {
    #projects {
      padding: 20px; 
      text-align: center;
    }
  
    .h1 {
      font-size: 22px;
    }
  
    #projects a {
      font-size: 14px;
    }
  
    #cards {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 20px;
    }
  }
  