.firstsection{
    background-color: #282C33;
    padding-left: 171px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}

.info{
    padding-top: 40px;
    color: white;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}

.span{
    color: #C778DD;
}

.para{
    padding-top: 30px;
    color: #ABB2BF;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}
.contactbtn{
    padding: 8px 16px;
    border: 1px solid #C778DD;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 0 10px #C778DD
}
.contactbtn:hover{
    background-color: #C778DD33;
    color: white;
    transform: translateY(-3px);
}
.right img{
    width: 300px;

}
.right{
    padding-right: 171px;
}
.quote{
    background-color: #282C33;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

@media (max-width: 768px) {
    .firstsection {
      padding: 20px;
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .info h1 {
      font-size: 29px;
  
    }
  
    .para {
      font-size: 16px;
      padding-top: 10px;
      line-height: 26px;
    }
  
    .contactbtn {
      font-size: 13px;
      padding: 8px 16px;
    }
  
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-top: 20px;
    }
  
    .right img {
      width: 300px;
    }
  
    .quote {
      padding-top: 40px;
    }
  
    .quote img {
      width: 350px;
    }
  }
  