.contacts{
    padding-top: 100px;
    padding-left: 171px;
    padding-right: 171px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.left{
    padding-top: 50px;
    width: 50%;
}
.right{
    padding-top: 50px;
}
.messagebox{
    border: 1px solid #ABB2BF;
}
.messagebox h2{
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
}
.imgs{
    padding: 4px 8px;
    font-size: 20px;
}
.media{
    padding-left: 171px;
    padding-right: 171px;
}