.contacts{
    padding-top: 100px;
    padding-left: 171px;
    padding-right: 171px;
}
.top h1{
    font-size: 32px;
    font-weight: 600;
}
.top p{
    color: #ABB2BF;

}
.bottom{
    display: flex;
    justify-content: space-between;
}
.left{
    padding-top: 60px;
    width: 50%;
}
.right{
    padding-top: 50px;
}
.messagebox{
    border: 1px solid #ABB2BF;
}
.messagebox h2{
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
}
.imgs{
    padding: 4px 8px;
    font-size: 20px;
}
.media{
    padding-left: 171px;
    padding-right: 171px;
}
.media h1{
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}
@media (max-width: 768px){
    .contacts{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .top h1{
        font-size: 25px;
    }
    .top p{
        font-size: 16px;
    }
    .left{
        width: 100%;
    }
    .right{
        padding-top: 20px;
    }
    .media{
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom{
        flex-direction: column;
    }
}


