#skills{
    padding-left: 171px;
    padding-right: 171px;
}
.title{
    padding: 5px;
}
.skillsection{
    display: flex;
    justify-content: space-between;
}
.boxes{
    height: fit-content;
    padding-left: 5px;
}

#languages{
    display: flex;
    gap: 4px;
    flex-wrap: 2px;
    padding: 4px 0px;
    padding-left: 5px;
}
#bottom{
    padding-top: 40px;
}
@media (max-width: 768px) {
    #skills{
        padding-left: 20px;
        padding-right: 20px;
    }
    #bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}